@model List<COMfORT2.Book>
@{
    ViewBag.WindowTitle = "AMOS: Present Books";
    Layout = "~/Views/Shared/_ManagementShellLayout.cshtml";
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    Response.Cache.SetNoStore();
}
@section Styles{
    <link rel="stylesheet" href="~/fonts/FiraSans/Fonts.css">
    <link rel="stylesheet" href="~/Content/css/Management/ChooseBook.css?v=0">
}

    <x-main>
        <x-page-description>
            Present a training book to an experiment test subject, or for demonstration purposes...
        </x-page-description>
        <x-records-head>
            <x-action-primary>Select a training book to present:</x-action-primary>
        </x-records-head>
        <x-records>

            @if (Model.Count() == 0)
            {
                <x-records-none>There are no training books available.</x-records-none>
            }

            @foreach (var book in Model.OrderByDescending(x => x.ModifyDate))
            {
                <x-record>
                    <title->
                        <title-name>@book.Name</title-name>
                        <title-version>version: @book.Version</title-version>
                    </title->
                    @*<history->
                        <history-item>
                            <history-item-label>created:</history-item-label>
                            <history-item-date>@book.CreateDate.ToShortDateString()</history-item-date>
                            <history-item-name>@book.CreatedBy</history-item-name>
                        </history-item>
                        <history-item>
                            <history-item-label>modified:</history-item-label>
                            <history-item-date>@book.ModifyDate.ToShortDateString()</history-item-date>
                            <history-item-name>@book.ModifiedBy</history-item-name>
                        </history-item>
                    </history->
                    <status->
                        <status-label>published:</status-label>
                        <status-value>@(book.Published?"YES":"NO")</status-value>
                    </status->*@
                    <action->@Html.ActionLink("present book", "Index", new { Controller = "View", id = book.BookId })</action->
                </x-record>
            }



            @*<div>
                <table style="margin: 20px auto">
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Version</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("read", "Index", new { Controller = "View", id = book.BookId })
                            </td>
                            <td>@book.Name</td>
                            <td>@book.Version</td>
                            <td>@book.CreatedBy <br /> @book.CreateDate.ToShortDateString()</td>
                            <td>@book.ModifiedBy <br /> @book.ModifyDate.ToShortDateString()</td>
                        </tr>
                    }
                </table>
            </div>*@





        </x-records>
    </x-main>





@section Scripts{
    <script>
    </script>
    <script type="text/javascript" src="~/Content/js/Management/ChooseBook.js?v=0"></script>
}