
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Read a book", "ChooseBook", new { Controller = "View" })
<br />
<br />
<br />
@Html.ActionLink("Download a book", "ChooseDownloadBook")
<br />
<br />
<br />
@Html.ActionLink("Edit a book", "ListBooks", "Build")
<br />
<br />
<br />
@*@Html.ActionLink("Create a new page", "Index", "Build")*@





@*@Html.ActionLink("go to book 1", "Index", new { Controller = "View", id = 1 })



    <br />
    <br />
    <br />
    @Html.ActionLink("go upload", "UploadFile", "View")

    <br />
    <br />
    <br />
    @Html.ActionLink("go zip", "ZipTest")
    <br />
    <br />
    <br />
    @Html.ActionLink("viewer", "Index", "Build")*@

